[submodule "villafeliz"]
	path = villafeliz
	url = https://github.com/MDForero/villa-feliz.git
[submodule "saludlaboral"]
	path = saludlaboral
	url = https://github.com/MDForero/saludlaboral.git
[submodule "saludlaboralips"]
	path = saludlaboralips
	url = https://github.com/MDForero/saludlaboral.git
[submodule "monterrey"]
	path = monterrey
	url = https://github.com/MDForero/alcaldiamonterrey.git
[submodule "terrazahotelmonterrey"]
	path = terrazahotelmonterrey
	url = https://github.com/MDForero/terrazahotel.git
[submodule "heliconias"]
	path = heliconias
	url = https://github.com/MDForero/heliconias.git
[submodule "innova"]
	path = innova
	url = https://github.com/MDForero/innova.git
[submodule "villa-feliz"]
	path = villa-feliz
	url = https://github.com/MDForero/villa-feliz.git
[submodule "los-lagos-monterrey"]
	path = los-lagos-monterrey
	url = https://github.com/MDForero/los_lagos.git
